.product {
  border-radius: 1rem;
  border: 1px solid rgb(43, 43, 43);
  /* overflow: hidden; */
  /* height: calc((100vw - 2.4rem) / 2.5); */
  /* position: relative; */
  background-color: black;
  /* height: 20rem; */
}

.product_showcase {
  display: grid;
  grid-template-columns: 4fr 2.1fr;
  padding: 4.8rem;
}

.product_display {
  border: 1px solid black;
}

.product_img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 55rem;
}

.product_img img {
  width: 55rem;
  height: 55rem;
}

.product_img_mover {
  position: absolute;
  bottom: 15%;
  display: flex;
  background-color: hsla(0, 0%, 9%, 0.8);
  border-radius: 9999px;
}

.mover_seperator {
  border-left: 1px solid rgb(115 115 115);
  border-right: 1px solid rgb(115 115 115);
  margin: 0.7rem 0.3rem;
}

.go_left_right {
  padding: 1rem 2.4rem;
  cursor: pointer;
}

.go_left_right:hover .product_movers {
  transform: scale(1.1);
  transition: all 0.3s;
  color: white;
}

/* .go_right {
  padding: 1rem 2.4rem;
  cursor: pointer;
} */

.product_movers {
  color: rgb(115 115 115);
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.more_product_colors {
  margin-top: 4.8rem;
  padding: 0.4rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.more_product {
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  border: 1px solid rgb(64, 64, 64);
  cursor: pointer;
}

.more_product:hover .more_product_img {
  transform: scale(1.1);
  transition: all 0.3s;
}

.product_color_not_selected:hover {
  border: 1px solid rgb(37, 99, 235);
}

.product_color_selected {
  border: 2px solid rgb(37, 99, 235);
}

.more_product_img {
  width: 7rem;
  height: 7rem;
  transition: all 0.3s;
}

/* product details */

.product_details {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.product_name h1 {
  color: white;
  font-size: 5.3rem;
  font-weight: 500;
  line-height: 1;
}

.merch_price {
  background-color: rgb(37, 99, 235);
  /* padding: 0.7rem 0.6rem; */
  padding: 0.8rem;
  border-radius: 9999px;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.merch_amount {
  display: flex;
  align-items: center;
}

.ERC_Coin {
  width: 1.6rem;
  height: 1.6rem;
}

.border_seperator {
  border-top: 1px solid rgb(64, 64, 64);
  margin: 1rem 0;
}

.product_property {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.single_property {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: white;
  font-weight: 400;
}

.single_property h3 {
  font-weight: 400;
}

.button_selection_property {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}

.prop_button {
  background-color: rgb(23, 23, 23) !important;
  padding: 0.8rem;
  border-radius: 9999px;
  min-width: 4.4rem;
  text-align: center;
}

.button_selection_property .prop_selected {
  box-shadow: 0 0 0 2px rgb(37, 99, 235);
  cursor: default;
  transition: all 0.3s;
}

.button_selection_property .available {
  border: 1px solid rgb(43, 43, 43);
  cursor: pointer;
  transition: all 0.3s;
}

.button_selection_property .available:hover {
  transform: scale(1.1);
  border: 1px solid rgb(37, 99, 235);
  transition: all 0.3s;
}

.button_selection_property .not_available {
  color: rgb(136, 136, 136);
  border: 1px solid rgba(103, 103, 103, 0.8);
  cursor: not-allowed;
  position: relative;
  background: linear-gradient(
    to top left,
    rgba(103, 103, 103, 0) 0%,
    rgba(103, 103, 103, 0) calc(50% - 0.8px),
    rgba(103, 103, 103, 1) 50%,
    rgba(103, 103, 103, 0) calc(50% + 0.8px),
    rgba(103, 103, 103, 0) 100%
  );
}

.product_description {
  color: rgb(136, 136, 136);
  margin-top: 1.8rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75rem;
}

.add_to_cart_button {
  width: auto;
  display: flex;
  align-items: center;
  background-color: rgb(37, 99, 235);
  border-radius: 9999px;
  padding: 1.7rem;
  opacity: 0.6;
  cursor: not-allowed;
}

.add_to_cart_button:hover {
  opacity: 0.9;
}

.button_clickable {
  cursor: pointer;
  opacity: 1;
}

/* .button_clickable:hover {
  opacity: 0.9;
} */

.add_to_cart_button .add_svg {
  color: white;
  width: 2rem;
  height: 2rem;
}

.add_to_cart_button h2 {
  margin: 0 auto;
  font-size: 1.7rem;
  font-weight: 400;
}

@media (max-width: 64em) {
  .product_showcase {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }
}

@media (max-width: 48em) {
  .product_img {
    height: 100%;
  }

  .product_img img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 27em) {
  .more_product_img {
    width: 100%;
    height: 100%;
  }
}
